$primary: #ec262a;
$primary_xxdark: #3f0607;
$primary_xdark: #7e0b0d;
$primary_dark: #bd1114;
$primary_light: #f15c5f;
$primary_xlight: #f69395;
$primary_xxlight: #fac9ca;
$secondary: #2d4096;
$secondary_xxdark: #0b1026;
$secondary_xdark: #17204b;
$secondary_dark: #223071;
$secondary_light: #4960c8;
$secondary_xlight: #8695db;
$secondary_xxlight: #c2caed;
$tertiary: #4c250f;
$tertiary_xxdark: #130904;
$tertiary_xdark: #261308;
$tertiary_dark: #391c0b;
$tertiary_light: #a35020;
$tertiary_xlight: #dc8350;
$tertiary_xxlight: #eec1a8;
$accent: #e5001c;
$accent_xxdark: #390007;
$accent_xdark: #73000e;
$accent_dark: #ac0015;
$accent_light: #ff2c46;
$accent_xlight: #ff7384;
$accent_xxlight: #ffb9c1;
$warning: #ffae00;
$warning_xxdark: #402c00;
$warning_xdark: #805700;
$warning_dark: #bf8300;
$warning_light: #ffc240;
$warning_xlight: #ffd780;
$warning_xxlight: #ffebbf;
$success: #3adb76;
$success_xxdark: #0b3b1d;
$success_xdark: #157539;
$success_dark: #20b056;
$success_light: #6be498;
$success_xlight: #9dedbb;
$success_xxlight: #cef6dd;
$alert: #cc4b37;
$alert_xxdark: #34120d;
$alert_xdark: #67251a;
$alert_dark: #9b3727;
$alert_light: #d97869;
$alert_xlight: #e6a59b;
$alert_xxlight: #f2d2cd;
$white: #fefefe;
$gray: #cacaca;
$gray_xxdark: #333;
$gray_xdark: #656565;
$gray_dark: #989898;
$gray_light: #d7d7d7;
$gray_xlight: #e5e5e5;
$gray_xxlight: #f2f2f2;
$black: #0a0a0a;
 

$is_global_palette : (
	primary: #ec262a,
	primary_xxdark: #3f0607,
	primary_xdark: #7e0b0d,
	primary_dark: #bd1114,
	primary_light: #f15c5f,
	primary_xlight: #f69395,
	primary_xxlight: #fac9ca,
	secondary: #2d4096,
	secondary_xxdark: #0b1026,
	secondary_xdark: #17204b,
	secondary_dark: #223071,
	secondary_light: #4960c8,
	secondary_xlight: #8695db,
	secondary_xxlight: #c2caed,
	tertiary: #4c250f,
	tertiary_xxdark: #130904,
	tertiary_xdark: #261308,
	tertiary_dark: #391c0b,
	tertiary_light: #a35020,
	tertiary_xlight: #dc8350,
	tertiary_xxlight: #eec1a8,
	accent: #e5001c,
	accent_xxdark: #390007,
	accent_xdark: #73000e,
	accent_dark: #ac0015,
	accent_light: #ff2c46,
	accent_xlight: #ff7384,
	accent_xxlight: #ffb9c1,
	warning: #ffae00,
	warning_xxdark: #402c00,
	warning_xdark: #805700,
	warning_dark: #bf8300,
	warning_light: #ffc240,
	warning_xlight: #ffd780,
	warning_xxlight: #ffebbf,
	success: #3adb76,
	success_xxdark: #0b3b1d,
	success_xdark: #157539,
	success_dark: #20b056,
	success_light: #6be498,
	success_xlight: #9dedbb,
	success_xxlight: #cef6dd,
	alert: #cc4b37,
	alert_xxdark: #34120d,
	alert_xdark: #67251a,
	alert_dark: #9b3727,
	alert_light: #d97869,
	alert_xlight: #e6a59b,
	alert_xxlight: #f2d2cd,
	white: #fefefe,
	gray: #cacaca,
	gray_xxdark: #333,
	gray_xdark: #656565,
	gray_dark: #989898,
	gray_light: #d7d7d7,
	gray_xlight: #e5e5e5,
	gray_xxlight: #f2f2f2,
	black: #0a0a0a,
);