<div class="grid-y grid-padding-y">
    <div class="cell">
    <h2 class="no-margin">Custom Image Display Template</h2>
    </div>
    <div class="cell">
        <img src="{{ module.image.sizes.medium }}" alt="{{ module.image.caption }}">
    </div>
</div>
