  .primary-background {
    background-color: #d7282f !important; }
  .primary-background-hover:hover {
    background-color: #d7282f !important; }
  .primary-background-children * {
    background-color: #d7282f; }
  .primary-text {
    color: #d7282f !important; }
    .primary-text :before, .primary-text :after {
      border-color: #d7282f !important; }
  .primary-text-children * {
    color: #d7282f; }
    .primary-text-children :before, .primary-text-children :after {
      border-color: #d7282f !important; }
  .primary-text-hover:hover {
    color: #d7282f !important; }
    .primary-text-hover:hover :before, .primary-text-hover:hover :after {
      border-color: #d7282f !important; }
  hr.primary {
    border-top: #d7282f !important; }
  .primary_xxdark-background {
    background-color: #360a0c !important; }
  .primary_xxdark-background-hover:hover {
    background-color: #360a0c !important; }
  .primary_xxdark-background-children * {
    background-color: #360a0c; }
  .primary_xxdark-text {
    color: #360a0c !important; }
    .primary_xxdark-text :before, .primary_xxdark-text :after {
      border-color: #360a0c !important; }
  .primary_xxdark-text-children * {
    color: #360a0c; }
    .primary_xxdark-text-children :before, .primary_xxdark-text-children :after {
      border-color: #360a0c !important; }
  .primary_xxdark-text-hover:hover {
    color: #360a0c !important; }
    .primary_xxdark-text-hover:hover :before, .primary_xxdark-text-hover:hover :after {
      border-color: #360a0c !important; }
  hr.primary_xxdark {
    border-top: #360a0c !important; }
  .primary_xdark-background {
    background-color: #91012c !important; }
  .primary_xdark-background-hover:hover {
    background-color: #91012c !important; }
  .primary_xdark-background-children * {
    background-color: #91012c; }
  .primary_xdark-text {
    color: #91012c !important; }
    .primary_xdark-text :before, .primary_xdark-text :after {
      border-color: #91012c !important; }
  .primary_xdark-text-children * {
    color: #91012c; }
    .primary_xdark-text-children :before, .primary_xdark-text-children :after {
      border-color: #91012c !important; }
  .primary_xdark-text-hover:hover {
    color: #91012c !important; }
    .primary_xdark-text-hover:hover :before, .primary_xdark-text-hover:hover :after {
      border-color: #91012c !important; }
  hr.primary_xdark {
    border-top: #91012c !important; }
  .primary_dark-background {
    background-color: #a11e23 !important; }
  .primary_dark-background-hover:hover {
    background-color: #a11e23 !important; }
  .primary_dark-background-children * {
    background-color: #a11e23; }
  .primary_dark-text {
    color: #a11e23 !important; }
    .primary_dark-text :before, .primary_dark-text :after {
      border-color: #a11e23 !important; }
  .primary_dark-text-children * {
    color: #a11e23; }
    .primary_dark-text-children :before, .primary_dark-text-children :after {
      border-color: #a11e23 !important; }
  .primary_dark-text-hover:hover {
    color: #a11e23 !important; }
    .primary_dark-text-hover:hover :before, .primary_dark-text-hover:hover :after {
      border-color: #a11e23 !important; }
  hr.primary_dark {
    border-top: #a11e23 !important; }
  .primary_light-background {
    background-color: #e15e63 !important; }
  .primary_light-background-hover:hover {
    background-color: #e15e63 !important; }
  .primary_light-background-children * {
    background-color: #e15e63; }
  .primary_light-text {
    color: #e15e63 !important; }
    .primary_light-text :before, .primary_light-text :after {
      border-color: #e15e63 !important; }
  .primary_light-text-children * {
    color: #e15e63; }
    .primary_light-text-children :before, .primary_light-text-children :after {
      border-color: #e15e63 !important; }
  .primary_light-text-hover:hover {
    color: #e15e63 !important; }
    .primary_light-text-hover:hover :before, .primary_light-text-hover:hover :after {
      border-color: #e15e63 !important; }
  hr.primary_light {
    border-top: #e15e63 !important; }
  .primary_xlight-background {
    background-color: #eb9497 !important; }
  .primary_xlight-background-hover:hover {
    background-color: #eb9497 !important; }
  .primary_xlight-background-children * {
    background-color: #eb9497; }
  .primary_xlight-text {
    color: #eb9497 !important; }
    .primary_xlight-text :before, .primary_xlight-text :after {
      border-color: #eb9497 !important; }
  .primary_xlight-text-children * {
    color: #eb9497; }
    .primary_xlight-text-children :before, .primary_xlight-text-children :after {
      border-color: #eb9497 !important; }
  .primary_xlight-text-hover:hover {
    color: #eb9497 !important; }
    .primary_xlight-text-hover:hover :before, .primary_xlight-text-hover:hover :after {
      border-color: #eb9497 !important; }
  hr.primary_xlight {
    border-top: #eb9497 !important; }
  .primary_xxlight-background {
    background-color: #f5c9cb !important; }
  .primary_xxlight-background-hover:hover {
    background-color: #f5c9cb !important; }
  .primary_xxlight-background-children * {
    background-color: #f5c9cb; }
  .primary_xxlight-text {
    color: #f5c9cb !important; }
    .primary_xxlight-text :before, .primary_xxlight-text :after {
      border-color: #f5c9cb !important; }
  .primary_xxlight-text-children * {
    color: #f5c9cb; }
    .primary_xxlight-text-children :before, .primary_xxlight-text-children :after {
      border-color: #f5c9cb !important; }
  .primary_xxlight-text-hover:hover {
    color: #f5c9cb !important; }
    .primary_xxlight-text-hover:hover :before, .primary_xxlight-text-hover:hover :after {
      border-color: #f5c9cb !important; }
  hr.primary_xxlight {
    border-top: #f5c9cb !important; }
  .secondary-background {
    background-color: #0b75ba !important; }
  .secondary-background-hover:hover {
    background-color: #0b75ba !important; }
  .secondary-background-children * {
    background-color: #0b75ba; }
  .secondary-text {
    color: #0b75ba !important; }
    .secondary-text :before, .secondary-text :after {
      border-color: #0b75ba !important; }
  .secondary-text-children * {
    color: #0b75ba; }
    .secondary-text-children :before, .secondary-text-children :after {
      border-color: #0b75ba !important; }
  .secondary-text-hover:hover {
    color: #0b75ba !important; }
    .secondary-text-hover:hover :before, .secondary-text-hover:hover :after {
      border-color: #0b75ba !important; }
  hr.secondary {
    border-top: #0b75ba !important; }
  .secondary_xxdark-background {
    background-color: #000831 !important; }
  .secondary_xxdark-background-hover:hover {
    background-color: #000831 !important; }
  .secondary_xxdark-background-children * {
    background-color: #000831; }
  .secondary_xxdark-text {
    color: #000831 !important; }
    .secondary_xxdark-text :before, .secondary_xxdark-text :after {
      border-color: #000831 !important; }
  .secondary_xxdark-text-children * {
    color: #000831; }
    .secondary_xxdark-text-children :before, .secondary_xxdark-text-children :after {
      border-color: #000831 !important; }
  .secondary_xxdark-text-hover:hover {
    color: #000831 !important; }
    .secondary_xxdark-text-hover:hover :before, .secondary_xxdark-text-hover:hover :after {
      border-color: #000831 !important; }
  hr.secondary_xxdark {
    border-top: #000831 !important; }
  .secondary_xdark-background {
    background-color: #053b5d !important; }
  .secondary_xdark-background-hover:hover {
    background-color: #053b5d !important; }
  .secondary_xdark-background-children * {
    background-color: #053b5d; }
  .secondary_xdark-text {
    color: #053b5d !important; }
    .secondary_xdark-text :before, .secondary_xdark-text :after {
      border-color: #053b5d !important; }
  .secondary_xdark-text-children * {
    color: #053b5d; }
    .secondary_xdark-text-children :before, .secondary_xdark-text-children :after {
      border-color: #053b5d !important; }
  .secondary_xdark-text-hover:hover {
    color: #053b5d !important; }
    .secondary_xdark-text-hover:hover :before, .secondary_xdark-text-hover:hover :after {
      border-color: #053b5d !important; }
  hr.secondary_xdark {
    border-top: #053b5d !important; }
  .secondary_dark-background {
    background-color: #08588c !important; }
  .secondary_dark-background-hover:hover {
    background-color: #08588c !important; }
  .secondary_dark-background-children * {
    background-color: #08588c; }
  .secondary_dark-text {
    color: #08588c !important; }
    .secondary_dark-text :before, .secondary_dark-text :after {
      border-color: #08588c !important; }
  .secondary_dark-text-children * {
    color: #08588c; }
    .secondary_dark-text-children :before, .secondary_dark-text-children :after {
      border-color: #08588c !important; }
  .secondary_dark-text-hover:hover {
    color: #08588c !important; }
    .secondary_dark-text-hover:hover :before, .secondary_dark-text-hover:hover :after {
      border-color: #08588c !important; }
  hr.secondary_dark {
    border-top: #08588c !important; }
  .secondary_light-background {
    background-color: #21a0f2 !important; }
  .secondary_light-background-hover:hover {
    background-color: #21a0f2 !important; }
  .secondary_light-background-children * {
    background-color: #21a0f2; }
  .secondary_light-text {
    color: #21a0f2 !important; }
    .secondary_light-text :before, .secondary_light-text :after {
      border-color: #21a0f2 !important; }
  .secondary_light-text-children * {
    color: #21a0f2; }
    .secondary_light-text-children :before, .secondary_light-text-children :after {
      border-color: #21a0f2 !important; }
  .secondary_light-text-hover:hover {
    color: #21a0f2 !important; }
    .secondary_light-text-hover:hover :before, .secondary_light-text-hover:hover :after {
      border-color: #21a0f2 !important; }
  hr.secondary_light {
    border-top: #21a0f2 !important; }
  .secondary_xlight-background {
    background-color: #6bbff6 !important; }
  .secondary_xlight-background-hover:hover {
    background-color: #6bbff6 !important; }
  .secondary_xlight-background-children * {
    background-color: #6bbff6; }
  .secondary_xlight-text {
    color: #6bbff6 !important; }
    .secondary_xlight-text :before, .secondary_xlight-text :after {
      border-color: #6bbff6 !important; }
  .secondary_xlight-text-children * {
    color: #6bbff6; }
    .secondary_xlight-text-children :before, .secondary_xlight-text-children :after {
      border-color: #6bbff6 !important; }
  .secondary_xlight-text-hover:hover {
    color: #6bbff6 !important; }
    .secondary_xlight-text-hover:hover :before, .secondary_xlight-text-hover:hover :after {
      border-color: #6bbff6 !important; }
  hr.secondary_xlight {
    border-top: #6bbff6 !important; }
  .secondary_xxlight-background {
    background-color: #b5dffb !important; }
  .secondary_xxlight-background-hover:hover {
    background-color: #b5dffb !important; }
  .secondary_xxlight-background-children * {
    background-color: #b5dffb; }
  .secondary_xxlight-text {
    color: #b5dffb !important; }
    .secondary_xxlight-text :before, .secondary_xxlight-text :after {
      border-color: #b5dffb !important; }
  .secondary_xxlight-text-children * {
    color: #b5dffb; }
    .secondary_xxlight-text-children :before, .secondary_xxlight-text-children :after {
      border-color: #b5dffb !important; }
  .secondary_xxlight-text-hover:hover {
    color: #b5dffb !important; }
    .secondary_xxlight-text-hover:hover :before, .secondary_xxlight-text-hover:hover :after {
      border-color: #b5dffb !important; }
  hr.secondary_xxlight {
    border-top: #b5dffb !important; }
  .tertiary-background {
    background-color: #4c250f !important; }
  .tertiary-background-hover:hover {
    background-color: #4c250f !important; }
  .tertiary-background-children * {
    background-color: #4c250f; }
  .tertiary-text {
    color: #4c250f !important; }
    .tertiary-text :before, .tertiary-text :after {
      border-color: #4c250f !important; }
  .tertiary-text-children * {
    color: #4c250f; }
    .tertiary-text-children :before, .tertiary-text-children :after {
      border-color: #4c250f !important; }
  .tertiary-text-hover:hover {
    color: #4c250f !important; }
    .tertiary-text-hover:hover :before, .tertiary-text-hover:hover :after {
      border-color: #4c250f !important; }
  hr.tertiary {
    border-top: #4c250f !important; }
  .tertiary_xxdark-background {
    background-color: #130904 !important; }
  .tertiary_xxdark-background-hover:hover {
    background-color: #130904 !important; }
  .tertiary_xxdark-background-children * {
    background-color: #130904; }
  .tertiary_xxdark-text {
    color: #130904 !important; }
    .tertiary_xxdark-text :before, .tertiary_xxdark-text :after {
      border-color: #130904 !important; }
  .tertiary_xxdark-text-children * {
    color: #130904; }
    .tertiary_xxdark-text-children :before, .tertiary_xxdark-text-children :after {
      border-color: #130904 !important; }
  .tertiary_xxdark-text-hover:hover {
    color: #130904 !important; }
    .tertiary_xxdark-text-hover:hover :before, .tertiary_xxdark-text-hover:hover :after {
      border-color: #130904 !important; }
  hr.tertiary_xxdark {
    border-top: #130904 !important; }
  .tertiary_xdark-background {
    background-color: #261308 !important; }
  .tertiary_xdark-background-hover:hover {
    background-color: #261308 !important; }
  .tertiary_xdark-background-children * {
    background-color: #261308; }
  .tertiary_xdark-text {
    color: #261308 !important; }
    .tertiary_xdark-text :before, .tertiary_xdark-text :after {
      border-color: #261308 !important; }
  .tertiary_xdark-text-children * {
    color: #261308; }
    .tertiary_xdark-text-children :before, .tertiary_xdark-text-children :after {
      border-color: #261308 !important; }
  .tertiary_xdark-text-hover:hover {
    color: #261308 !important; }
    .tertiary_xdark-text-hover:hover :before, .tertiary_xdark-text-hover:hover :after {
      border-color: #261308 !important; }
  hr.tertiary_xdark {
    border-top: #261308 !important; }
  .tertiary_dark-background {
    background-color: #391c0b !important; }
  .tertiary_dark-background-hover:hover {
    background-color: #391c0b !important; }
  .tertiary_dark-background-children * {
    background-color: #391c0b; }
  .tertiary_dark-text {
    color: #391c0b !important; }
    .tertiary_dark-text :before, .tertiary_dark-text :after {
      border-color: #391c0b !important; }
  .tertiary_dark-text-children * {
    color: #391c0b; }
    .tertiary_dark-text-children :before, .tertiary_dark-text-children :after {
      border-color: #391c0b !important; }
  .tertiary_dark-text-hover:hover {
    color: #391c0b !important; }
    .tertiary_dark-text-hover:hover :before, .tertiary_dark-text-hover:hover :after {
      border-color: #391c0b !important; }
  hr.tertiary_dark {
    border-top: #391c0b !important; }
  .tertiary_light-background {
    background-color: #a35020 !important; }
  .tertiary_light-background-hover:hover {
    background-color: #a35020 !important; }
  .tertiary_light-background-children * {
    background-color: #a35020; }
  .tertiary_light-text {
    color: #a35020 !important; }
    .tertiary_light-text :before, .tertiary_light-text :after {
      border-color: #a35020 !important; }
  .tertiary_light-text-children * {
    color: #a35020; }
    .tertiary_light-text-children :before, .tertiary_light-text-children :after {
      border-color: #a35020 !important; }
  .tertiary_light-text-hover:hover {
    color: #a35020 !important; }
    .tertiary_light-text-hover:hover :before, .tertiary_light-text-hover:hover :after {
      border-color: #a35020 !important; }
  hr.tertiary_light {
    border-top: #a35020 !important; }
  .tertiary_xlight-background {
    background-color: #dc8350 !important; }
  .tertiary_xlight-background-hover:hover {
    background-color: #dc8350 !important; }
  .tertiary_xlight-background-children * {
    background-color: #dc8350; }
  .tertiary_xlight-text {
    color: #dc8350 !important; }
    .tertiary_xlight-text :before, .tertiary_xlight-text :after {
      border-color: #dc8350 !important; }
  .tertiary_xlight-text-children * {
    color: #dc8350; }
    .tertiary_xlight-text-children :before, .tertiary_xlight-text-children :after {
      border-color: #dc8350 !important; }
  .tertiary_xlight-text-hover:hover {
    color: #dc8350 !important; }
    .tertiary_xlight-text-hover:hover :before, .tertiary_xlight-text-hover:hover :after {
      border-color: #dc8350 !important; }
  hr.tertiary_xlight {
    border-top: #dc8350 !important; }
  .tertiary_xxlight-background {
    background-color: #eec1a8 !important; }
  .tertiary_xxlight-background-hover:hover {
    background-color: #eec1a8 !important; }
  .tertiary_xxlight-background-children * {
    background-color: #eec1a8; }
  .tertiary_xxlight-text {
    color: #eec1a8 !important; }
    .tertiary_xxlight-text :before, .tertiary_xxlight-text :after {
      border-color: #eec1a8 !important; }
  .tertiary_xxlight-text-children * {
    color: #eec1a8; }
    .tertiary_xxlight-text-children :before, .tertiary_xxlight-text-children :after {
      border-color: #eec1a8 !important; }
  .tertiary_xxlight-text-hover:hover {
    color: #eec1a8 !important; }
    .tertiary_xxlight-text-hover:hover :before, .tertiary_xxlight-text-hover:hover :after {
      border-color: #eec1a8 !important; }
  hr.tertiary_xxlight {
    border-top: #eec1a8 !important; }
  .accent-background {
    background-color: #91012c !important; }
  .accent-background-hover:hover {
    background-color: #91012c !important; }
  .accent-background-children * {
    background-color: #91012c; }
  .accent-text {
    color: #91012c !important; }
    .accent-text :before, .accent-text :after {
      border-color: #91012c !important; }
  .accent-text-children * {
    color: #91012c; }
    .accent-text-children :before, .accent-text-children :after {
      border-color: #91012c !important; }
  .accent-text-hover:hover {
    color: #91012c !important; }
    .accent-text-hover:hover :before, .accent-text-hover:hover :after {
      border-color: #91012c !important; }
  hr.accent {
    border-top: #91012c !important; }
  .accent_xxdark-background {
    background-color: #24000b !important; }
  .accent_xxdark-background-hover:hover {
    background-color: #24000b !important; }
  .accent_xxdark-background-children * {
    background-color: #24000b; }
  .accent_xxdark-text {
    color: #24000b !important; }
    .accent_xxdark-text :before, .accent_xxdark-text :after {
      border-color: #24000b !important; }
  .accent_xxdark-text-children * {
    color: #24000b; }
    .accent_xxdark-text-children :before, .accent_xxdark-text-children :after {
      border-color: #24000b !important; }
  .accent_xxdark-text-hover:hover {
    color: #24000b !important; }
    .accent_xxdark-text-hover:hover :before, .accent_xxdark-text-hover:hover :after {
      border-color: #24000b !important; }
  hr.accent_xxdark {
    border-top: #24000b !important; }
  .accent_xdark-background {
    background-color: #490016 !important; }
  .accent_xdark-background-hover:hover {
    background-color: #490016 !important; }
  .accent_xdark-background-children * {
    background-color: #490016; }
  .accent_xdark-text {
    color: #490016 !important; }
    .accent_xdark-text :before, .accent_xdark-text :after {
      border-color: #490016 !important; }
  .accent_xdark-text-children * {
    color: #490016; }
    .accent_xdark-text-children :before, .accent_xdark-text-children :after {
      border-color: #490016 !important; }
  .accent_xdark-text-hover:hover {
    color: #490016 !important; }
    .accent_xdark-text-hover:hover :before, .accent_xdark-text-hover:hover :after {
      border-color: #490016 !important; }
  hr.accent_xdark {
    border-top: #490016 !important; }
  .accent_dark-background {
    background-color: #6d0121 !important; }
  .accent_dark-background-hover:hover {
    background-color: #6d0121 !important; }
  .accent_dark-background-children * {
    background-color: #6d0121; }
  .accent_dark-text {
    color: #6d0121 !important; }
    .accent_dark-text :before, .accent_dark-text :after {
      border-color: #6d0121 !important; }
  .accent_dark-text-children * {
    color: #6d0121; }
    .accent_dark-text-children :before, .accent_dark-text-children :after {
      border-color: #6d0121 !important; }
  .accent_dark-text-hover:hover {
    color: #6d0121 !important; }
    .accent_dark-text-hover:hover :before, .accent_dark-text-hover:hover :after {
      border-color: #6d0121 !important; }
  hr.accent_dark {
    border-top: #6d0121 !important; }
  .accent_light-background {
    background-color: #eb0247 !important; }
  .accent_light-background-hover:hover {
    background-color: #eb0247 !important; }
  .accent_light-background-children * {
    background-color: #eb0247; }
  .accent_light-text {
    color: #eb0247 !important; }
    .accent_light-text :before, .accent_light-text :after {
      border-color: #eb0247 !important; }
  .accent_light-text-children * {
    color: #eb0247; }
    .accent_light-text-children :before, .accent_light-text-children :after {
      border-color: #eb0247 !important; }
  .accent_light-text-hover:hover {
    color: #eb0247 !important; }
    .accent_light-text-hover:hover :before, .accent_light-text-hover:hover :after {
      border-color: #eb0247 !important; }
  hr.accent_light {
    border-top: #eb0247 !important; }
  .accent_xlight-background {
    background-color: #fe4a80 !important; }
  .accent_xlight-background-hover:hover {
    background-color: #fe4a80 !important; }
  .accent_xlight-background-children * {
    background-color: #fe4a80; }
  .accent_xlight-text {
    color: #fe4a80 !important; }
    .accent_xlight-text :before, .accent_xlight-text :after {
      border-color: #fe4a80 !important; }
  .accent_xlight-text-children * {
    color: #fe4a80; }
    .accent_xlight-text-children :before, .accent_xlight-text-children :after {
      border-color: #fe4a80 !important; }
  .accent_xlight-text-hover:hover {
    color: #fe4a80 !important; }
    .accent_xlight-text-hover:hover :before, .accent_xlight-text-hover:hover :after {
      border-color: #fe4a80 !important; }
  hr.accent_xlight {
    border-top: #fe4a80 !important; }
  .accent_xxlight-background {
    background-color: #fea5bf !important; }
  .accent_xxlight-background-hover:hover {
    background-color: #fea5bf !important; }
  .accent_xxlight-background-children * {
    background-color: #fea5bf; }
  .accent_xxlight-text {
    color: #fea5bf !important; }
    .accent_xxlight-text :before, .accent_xxlight-text :after {
      border-color: #fea5bf !important; }
  .accent_xxlight-text-children * {
    color: #fea5bf; }
    .accent_xxlight-text-children :before, .accent_xxlight-text-children :after {
      border-color: #fea5bf !important; }
  .accent_xxlight-text-hover:hover {
    color: #fea5bf !important; }
    .accent_xxlight-text-hover:hover :before, .accent_xxlight-text-hover:hover :after {
      border-color: #fea5bf !important; }
  hr.accent_xxlight {
    border-top: #fea5bf !important; }
  .warning-background {
    background-color: #ffae00 !important; }
  .warning-background-hover:hover {
    background-color: #ffae00 !important; }
  .warning-background-children * {
    background-color: #ffae00; }
  .warning-text {
    color: #ffae00 !important; }
    .warning-text :before, .warning-text :after {
      border-color: #ffae00 !important; }
  .warning-text-children * {
    color: #ffae00; }
    .warning-text-children :before, .warning-text-children :after {
      border-color: #ffae00 !important; }
  .warning-text-hover:hover {
    color: #ffae00 !important; }
    .warning-text-hover:hover :before, .warning-text-hover:hover :after {
      border-color: #ffae00 !important; }
  hr.warning {
    border-top: #ffae00 !important; }
  .warning_xxdark-background {
    background-color: #402c00 !important; }
  .warning_xxdark-background-hover:hover {
    background-color: #402c00 !important; }
  .warning_xxdark-background-children * {
    background-color: #402c00; }
  .warning_xxdark-text {
    color: #402c00 !important; }
    .warning_xxdark-text :before, .warning_xxdark-text :after {
      border-color: #402c00 !important; }
  .warning_xxdark-text-children * {
    color: #402c00; }
    .warning_xxdark-text-children :before, .warning_xxdark-text-children :after {
      border-color: #402c00 !important; }
  .warning_xxdark-text-hover:hover {
    color: #402c00 !important; }
    .warning_xxdark-text-hover:hover :before, .warning_xxdark-text-hover:hover :after {
      border-color: #402c00 !important; }
  hr.warning_xxdark {
    border-top: #402c00 !important; }
  .warning_xdark-background {
    background-color: #805700 !important; }
  .warning_xdark-background-hover:hover {
    background-color: #805700 !important; }
  .warning_xdark-background-children * {
    background-color: #805700; }
  .warning_xdark-text {
    color: #805700 !important; }
    .warning_xdark-text :before, .warning_xdark-text :after {
      border-color: #805700 !important; }
  .warning_xdark-text-children * {
    color: #805700; }
    .warning_xdark-text-children :before, .warning_xdark-text-children :after {
      border-color: #805700 !important; }
  .warning_xdark-text-hover:hover {
    color: #805700 !important; }
    .warning_xdark-text-hover:hover :before, .warning_xdark-text-hover:hover :after {
      border-color: #805700 !important; }
  hr.warning_xdark {
    border-top: #805700 !important; }
  .warning_dark-background {
    background-color: #bf8300 !important; }
  .warning_dark-background-hover:hover {
    background-color: #bf8300 !important; }
  .warning_dark-background-children * {
    background-color: #bf8300; }
  .warning_dark-text {
    color: #bf8300 !important; }
    .warning_dark-text :before, .warning_dark-text :after {
      border-color: #bf8300 !important; }
  .warning_dark-text-children * {
    color: #bf8300; }
    .warning_dark-text-children :before, .warning_dark-text-children :after {
      border-color: #bf8300 !important; }
  .warning_dark-text-hover:hover {
    color: #bf8300 !important; }
    .warning_dark-text-hover:hover :before, .warning_dark-text-hover:hover :after {
      border-color: #bf8300 !important; }
  hr.warning_dark {
    border-top: #bf8300 !important; }
  .warning_light-background {
    background-color: #ffc240 !important; }
  .warning_light-background-hover:hover {
    background-color: #ffc240 !important; }
  .warning_light-background-children * {
    background-color: #ffc240; }
  .warning_light-text {
    color: #ffc240 !important; }
    .warning_light-text :before, .warning_light-text :after {
      border-color: #ffc240 !important; }
  .warning_light-text-children * {
    color: #ffc240; }
    .warning_light-text-children :before, .warning_light-text-children :after {
      border-color: #ffc240 !important; }
  .warning_light-text-hover:hover {
    color: #ffc240 !important; }
    .warning_light-text-hover:hover :before, .warning_light-text-hover:hover :after {
      border-color: #ffc240 !important; }
  hr.warning_light {
    border-top: #ffc240 !important; }
  .warning_xlight-background {
    background-color: #ffd780 !important; }
  .warning_xlight-background-hover:hover {
    background-color: #ffd780 !important; }
  .warning_xlight-background-children * {
    background-color: #ffd780; }
  .warning_xlight-text {
    color: #ffd780 !important; }
    .warning_xlight-text :before, .warning_xlight-text :after {
      border-color: #ffd780 !important; }
  .warning_xlight-text-children * {
    color: #ffd780; }
    .warning_xlight-text-children :before, .warning_xlight-text-children :after {
      border-color: #ffd780 !important; }
  .warning_xlight-text-hover:hover {
    color: #ffd780 !important; }
    .warning_xlight-text-hover:hover :before, .warning_xlight-text-hover:hover :after {
      border-color: #ffd780 !important; }
  hr.warning_xlight {
    border-top: #ffd780 !important; }
  .warning_xxlight-background {
    background-color: #ffebbf !important; }
  .warning_xxlight-background-hover:hover {
    background-color: #ffebbf !important; }
  .warning_xxlight-background-children * {
    background-color: #ffebbf; }
  .warning_xxlight-text {
    color: #ffebbf !important; }
    .warning_xxlight-text :before, .warning_xxlight-text :after {
      border-color: #ffebbf !important; }
  .warning_xxlight-text-children * {
    color: #ffebbf; }
    .warning_xxlight-text-children :before, .warning_xxlight-text-children :after {
      border-color: #ffebbf !important; }
  .warning_xxlight-text-hover:hover {
    color: #ffebbf !important; }
    .warning_xxlight-text-hover:hover :before, .warning_xxlight-text-hover:hover :after {
      border-color: #ffebbf !important; }
  hr.warning_xxlight {
    border-top: #ffebbf !important; }
  .success-background {
    background-color: #3adb76 !important; }
  .success-background-hover:hover {
    background-color: #3adb76 !important; }
  .success-background-children * {
    background-color: #3adb76; }
  .success-text {
    color: #3adb76 !important; }
    .success-text :before, .success-text :after {
      border-color: #3adb76 !important; }
  .success-text-children * {
    color: #3adb76; }
    .success-text-children :before, .success-text-children :after {
      border-color: #3adb76 !important; }
  .success-text-hover:hover {
    color: #3adb76 !important; }
    .success-text-hover:hover :before, .success-text-hover:hover :after {
      border-color: #3adb76 !important; }
  hr.success {
    border-top: #3adb76 !important; }
  .success_xxdark-background {
    background-color: #0b3b1d !important; }
  .success_xxdark-background-hover:hover {
    background-color: #0b3b1d !important; }
  .success_xxdark-background-children * {
    background-color: #0b3b1d; }
  .success_xxdark-text {
    color: #0b3b1d !important; }
    .success_xxdark-text :before, .success_xxdark-text :after {
      border-color: #0b3b1d !important; }
  .success_xxdark-text-children * {
    color: #0b3b1d; }
    .success_xxdark-text-children :before, .success_xxdark-text-children :after {
      border-color: #0b3b1d !important; }
  .success_xxdark-text-hover:hover {
    color: #0b3b1d !important; }
    .success_xxdark-text-hover:hover :before, .success_xxdark-text-hover:hover :after {
      border-color: #0b3b1d !important; }
  hr.success_xxdark {
    border-top: #0b3b1d !important; }
  .success_xdark-background {
    background-color: #157539 !important; }
  .success_xdark-background-hover:hover {
    background-color: #157539 !important; }
  .success_xdark-background-children * {
    background-color: #157539; }
  .success_xdark-text {
    color: #157539 !important; }
    .success_xdark-text :before, .success_xdark-text :after {
      border-color: #157539 !important; }
  .success_xdark-text-children * {
    color: #157539; }
    .success_xdark-text-children :before, .success_xdark-text-children :after {
      border-color: #157539 !important; }
  .success_xdark-text-hover:hover {
    color: #157539 !important; }
    .success_xdark-text-hover:hover :before, .success_xdark-text-hover:hover :after {
      border-color: #157539 !important; }
  hr.success_xdark {
    border-top: #157539 !important; }
  .success_dark-background {
    background-color: #20b056 !important; }
  .success_dark-background-hover:hover {
    background-color: #20b056 !important; }
  .success_dark-background-children * {
    background-color: #20b056; }
  .success_dark-text {
    color: #20b056 !important; }
    .success_dark-text :before, .success_dark-text :after {
      border-color: #20b056 !important; }
  .success_dark-text-children * {
    color: #20b056; }
    .success_dark-text-children :before, .success_dark-text-children :after {
      border-color: #20b056 !important; }
  .success_dark-text-hover:hover {
    color: #20b056 !important; }
    .success_dark-text-hover:hover :before, .success_dark-text-hover:hover :after {
      border-color: #20b056 !important; }
  hr.success_dark {
    border-top: #20b056 !important; }
  .success_light-background {
    background-color: #6be498 !important; }
  .success_light-background-hover:hover {
    background-color: #6be498 !important; }
  .success_light-background-children * {
    background-color: #6be498; }
  .success_light-text {
    color: #6be498 !important; }
    .success_light-text :before, .success_light-text :after {
      border-color: #6be498 !important; }
  .success_light-text-children * {
    color: #6be498; }
    .success_light-text-children :before, .success_light-text-children :after {
      border-color: #6be498 !important; }
  .success_light-text-hover:hover {
    color: #6be498 !important; }
    .success_light-text-hover:hover :before, .success_light-text-hover:hover :after {
      border-color: #6be498 !important; }
  hr.success_light {
    border-top: #6be498 !important; }
  .success_xlight-background {
    background-color: #9dedbb !important; }
  .success_xlight-background-hover:hover {
    background-color: #9dedbb !important; }
  .success_xlight-background-children * {
    background-color: #9dedbb; }
  .success_xlight-text {
    color: #9dedbb !important; }
    .success_xlight-text :before, .success_xlight-text :after {
      border-color: #9dedbb !important; }
  .success_xlight-text-children * {
    color: #9dedbb; }
    .success_xlight-text-children :before, .success_xlight-text-children :after {
      border-color: #9dedbb !important; }
  .success_xlight-text-hover:hover {
    color: #9dedbb !important; }
    .success_xlight-text-hover:hover :before, .success_xlight-text-hover:hover :after {
      border-color: #9dedbb !important; }
  hr.success_xlight {
    border-top: #9dedbb !important; }
  .success_xxlight-background {
    background-color: #cef6dd !important; }
  .success_xxlight-background-hover:hover {
    background-color: #cef6dd !important; }
  .success_xxlight-background-children * {
    background-color: #cef6dd; }
  .success_xxlight-text {
    color: #cef6dd !important; }
    .success_xxlight-text :before, .success_xxlight-text :after {
      border-color: #cef6dd !important; }
  .success_xxlight-text-children * {
    color: #cef6dd; }
    .success_xxlight-text-children :before, .success_xxlight-text-children :after {
      border-color: #cef6dd !important; }
  .success_xxlight-text-hover:hover {
    color: #cef6dd !important; }
    .success_xxlight-text-hover:hover :before, .success_xxlight-text-hover:hover :after {
      border-color: #cef6dd !important; }
  hr.success_xxlight {
    border-top: #cef6dd !important; }
  .alert-background {
    background-color: #cc4b37 !important; }
  .alert-background-hover:hover {
    background-color: #cc4b37 !important; }
  .alert-background-children * {
    background-color: #cc4b37; }
  .alert-text {
    color: #cc4b37 !important; }
    .alert-text :before, .alert-text :after {
      border-color: #cc4b37 !important; }
  .alert-text-children * {
    color: #cc4b37; }
    .alert-text-children :before, .alert-text-children :after {
      border-color: #cc4b37 !important; }
  .alert-text-hover:hover {
    color: #cc4b37 !important; }
    .alert-text-hover:hover :before, .alert-text-hover:hover :after {
      border-color: #cc4b37 !important; }
  hr.alert {
    border-top: #cc4b37 !important; }
  .alert_xxdark-background {
    background-color: #34120d !important; }
  .alert_xxdark-background-hover:hover {
    background-color: #34120d !important; }
  .alert_xxdark-background-children * {
    background-color: #34120d; }
  .alert_xxdark-text {
    color: #34120d !important; }
    .alert_xxdark-text :before, .alert_xxdark-text :after {
      border-color: #34120d !important; }
  .alert_xxdark-text-children * {
    color: #34120d; }
    .alert_xxdark-text-children :before, .alert_xxdark-text-children :after {
      border-color: #34120d !important; }
  .alert_xxdark-text-hover:hover {
    color: #34120d !important; }
    .alert_xxdark-text-hover:hover :before, .alert_xxdark-text-hover:hover :after {
      border-color: #34120d !important; }
  hr.alert_xxdark {
    border-top: #34120d !important; }
  .alert_xdark-background {
    background-color: #67251a !important; }
  .alert_xdark-background-hover:hover {
    background-color: #67251a !important; }
  .alert_xdark-background-children * {
    background-color: #67251a; }
  .alert_xdark-text {
    color: #67251a !important; }
    .alert_xdark-text :before, .alert_xdark-text :after {
      border-color: #67251a !important; }
  .alert_xdark-text-children * {
    color: #67251a; }
    .alert_xdark-text-children :before, .alert_xdark-text-children :after {
      border-color: #67251a !important; }
  .alert_xdark-text-hover:hover {
    color: #67251a !important; }
    .alert_xdark-text-hover:hover :before, .alert_xdark-text-hover:hover :after {
      border-color: #67251a !important; }
  hr.alert_xdark {
    border-top: #67251a !important; }
  .alert_dark-background {
    background-color: #9b3727 !important; }
  .alert_dark-background-hover:hover {
    background-color: #9b3727 !important; }
  .alert_dark-background-children * {
    background-color: #9b3727; }
  .alert_dark-text {
    color: #9b3727 !important; }
    .alert_dark-text :before, .alert_dark-text :after {
      border-color: #9b3727 !important; }
  .alert_dark-text-children * {
    color: #9b3727; }
    .alert_dark-text-children :before, .alert_dark-text-children :after {
      border-color: #9b3727 !important; }
  .alert_dark-text-hover:hover {
    color: #9b3727 !important; }
    .alert_dark-text-hover:hover :before, .alert_dark-text-hover:hover :after {
      border-color: #9b3727 !important; }
  hr.alert_dark {
    border-top: #9b3727 !important; }
  .alert_light-background {
    background-color: #d97869 !important; }
  .alert_light-background-hover:hover {
    background-color: #d97869 !important; }
  .alert_light-background-children * {
    background-color: #d97869; }
  .alert_light-text {
    color: #d97869 !important; }
    .alert_light-text :before, .alert_light-text :after {
      border-color: #d97869 !important; }
  .alert_light-text-children * {
    color: #d97869; }
    .alert_light-text-children :before, .alert_light-text-children :after {
      border-color: #d97869 !important; }
  .alert_light-text-hover:hover {
    color: #d97869 !important; }
    .alert_light-text-hover:hover :before, .alert_light-text-hover:hover :after {
      border-color: #d97869 !important; }
  hr.alert_light {
    border-top: #d97869 !important; }
  .alert_xlight-background {
    background-color: #e6a59b !important; }
  .alert_xlight-background-hover:hover {
    background-color: #e6a59b !important; }
  .alert_xlight-background-children * {
    background-color: #e6a59b; }
  .alert_xlight-text {
    color: #e6a59b !important; }
    .alert_xlight-text :before, .alert_xlight-text :after {
      border-color: #e6a59b !important; }
  .alert_xlight-text-children * {
    color: #e6a59b; }
    .alert_xlight-text-children :before, .alert_xlight-text-children :after {
      border-color: #e6a59b !important; }
  .alert_xlight-text-hover:hover {
    color: #e6a59b !important; }
    .alert_xlight-text-hover:hover :before, .alert_xlight-text-hover:hover :after {
      border-color: #e6a59b !important; }
  hr.alert_xlight {
    border-top: #e6a59b !important; }
  .alert_xxlight-background {
    background-color: #f2d2cd !important; }
  .alert_xxlight-background-hover:hover {
    background-color: #f2d2cd !important; }
  .alert_xxlight-background-children * {
    background-color: #f2d2cd; }
  .alert_xxlight-text {
    color: #f2d2cd !important; }
    .alert_xxlight-text :before, .alert_xxlight-text :after {
      border-color: #f2d2cd !important; }
  .alert_xxlight-text-children * {
    color: #f2d2cd; }
    .alert_xxlight-text-children :before, .alert_xxlight-text-children :after {
      border-color: #f2d2cd !important; }
  .alert_xxlight-text-hover:hover {
    color: #f2d2cd !important; }
    .alert_xxlight-text-hover:hover :before, .alert_xxlight-text-hover:hover :after {
      border-color: #f2d2cd !important; }
  hr.alert_xxlight {
    border-top: #f2d2cd !important; }
  .white-background {
    background-color: #fefefe !important; }
  .white-background-hover:hover {
    background-color: #fefefe !important; }
  .white-background-children * {
    background-color: #fefefe; }
  .white-text {
    color: #fefefe !important; }
    .white-text :before, .white-text :after {
      border-color: #fefefe !important; }
  .white-text-children * {
    color: #fefefe; }
    .white-text-children :before, .white-text-children :after {
      border-color: #fefefe !important; }
  .white-text-hover:hover {
    color: #fefefe !important; }
    .white-text-hover:hover :before, .white-text-hover:hover :after {
      border-color: #fefefe !important; }
  hr.white {
    border-top: #fefefe !important; }
  .gray-background {
    background-color: #3f3f3f !important; }
  .gray-background-hover:hover {
    background-color: #3f3f3f !important; }
  .gray-background-children * {
    background-color: #3f3f3f; }
  .gray-text {
    color: #3f3f3f !important; }
    .gray-text :before, .gray-text :after {
      border-color: #3f3f3f !important; }
  .gray-text-children * {
    color: #3f3f3f; }
    .gray-text-children :before, .gray-text-children :after {
      border-color: #3f3f3f !important; }
  .gray-text-hover:hover {
    color: #3f3f3f !important; }
    .gray-text-hover:hover :before, .gray-text-hover:hover :after {
      border-color: #3f3f3f !important; }
  hr.gray {
    border-top: #3f3f3f !important; }
  .gray_xxdark-background {
    background-color: #101010 !important; }
  .gray_xxdark-background-hover:hover {
    background-color: #101010 !important; }
  .gray_xxdark-background-children * {
    background-color: #101010; }
  .gray_xxdark-text {
    color: #101010 !important; }
    .gray_xxdark-text :before, .gray_xxdark-text :after {
      border-color: #101010 !important; }
  .gray_xxdark-text-children * {
    color: #101010; }
    .gray_xxdark-text-children :before, .gray_xxdark-text-children :after {
      border-color: #101010 !important; }
  .gray_xxdark-text-hover:hover {
    color: #101010 !important; }
    .gray_xxdark-text-hover:hover :before, .gray_xxdark-text-hover:hover :after {
      border-color: #101010 !important; }
  hr.gray_xxdark {
    border-top: #101010 !important; }
  .gray_xdark-background {
    background-color: #202020 !important; }
  .gray_xdark-background-hover:hover {
    background-color: #202020 !important; }
  .gray_xdark-background-children * {
    background-color: #202020; }
  .gray_xdark-text {
    color: #202020 !important; }
    .gray_xdark-text :before, .gray_xdark-text :after {
      border-color: #202020 !important; }
  .gray_xdark-text-children * {
    color: #202020; }
    .gray_xdark-text-children :before, .gray_xdark-text-children :after {
      border-color: #202020 !important; }
  .gray_xdark-text-hover:hover {
    color: #202020 !important; }
    .gray_xdark-text-hover:hover :before, .gray_xdark-text-hover:hover :after {
      border-color: #202020 !important; }
  hr.gray_xdark {
    border-top: #202020 !important; }
  .gray_dark-background {
    background-color: #2f2f2f !important; }
  .gray_dark-background-hover:hover {
    background-color: #2f2f2f !important; }
  .gray_dark-background-children * {
    background-color: #2f2f2f; }
  .gray_dark-text {
    color: #2f2f2f !important; }
    .gray_dark-text :before, .gray_dark-text :after {
      border-color: #2f2f2f !important; }
  .gray_dark-text-children * {
    color: #2f2f2f; }
    .gray_dark-text-children :before, .gray_dark-text-children :after {
      border-color: #2f2f2f !important; }
  .gray_dark-text-hover:hover {
    color: #2f2f2f !important; }
    .gray_dark-text-hover:hover :before, .gray_dark-text-hover:hover :after {
      border-color: #2f2f2f !important; }
  hr.gray_dark {
    border-top: #2f2f2f !important; }
  .gray_light-background {
    background-color: #6f6f6f !important; }
  .gray_light-background-hover:hover {
    background-color: #6f6f6f !important; }
  .gray_light-background-children * {
    background-color: #6f6f6f; }
  .gray_light-text {
    color: #6f6f6f !important; }
    .gray_light-text :before, .gray_light-text :after {
      border-color: #6f6f6f !important; }
  .gray_light-text-children * {
    color: #6f6f6f; }
    .gray_light-text-children :before, .gray_light-text-children :after {
      border-color: #6f6f6f !important; }
  .gray_light-text-hover:hover {
    color: #6f6f6f !important; }
    .gray_light-text-hover:hover :before, .gray_light-text-hover:hover :after {
      border-color: #6f6f6f !important; }
  hr.gray_light {
    border-top: #6f6f6f !important; }
  .gray_xlight-background {
    background-color: #eee !important; }
  .gray_xlight-background-hover:hover {
    background-color: #eee !important; }
  .gray_xlight-background-children * {
    background-color: #eee; }
  .gray_xlight-text {
    color: #eee !important; }
    .gray_xlight-text :before, .gray_xlight-text :after {
      border-color: #eee !important; }
  .gray_xlight-text-children * {
    color: #eee; }
    .gray_xlight-text-children :before, .gray_xlight-text-children :after {
      border-color: #eee !important; }
  .gray_xlight-text-hover:hover {
    color: #eee !important; }
    .gray_xlight-text-hover:hover :before, .gray_xlight-text-hover:hover :after {
      border-color: #eee !important; }
  hr.gray_xlight {
    border-top: #eee !important; }
  .gray_xxlight-background {
    background-color: #fbfbfb !important; }
  .gray_xxlight-background-hover:hover {
    background-color: #fbfbfb !important; }
  .gray_xxlight-background-children * {
    background-color: #fbfbfb; }
  .gray_xxlight-text {
    color: #fbfbfb !important; }
    .gray_xxlight-text :before, .gray_xxlight-text :after {
      border-color: #fbfbfb !important; }
  .gray_xxlight-text-children * {
    color: #fbfbfb; }
    .gray_xxlight-text-children :before, .gray_xxlight-text-children :after {
      border-color: #fbfbfb !important; }
  .gray_xxlight-text-hover:hover {
    color: #fbfbfb !important; }
    .gray_xxlight-text-hover:hover :before, .gray_xxlight-text-hover:hover :after {
      border-color: #fbfbfb !important; }
  hr.gray_xxlight {
    border-top: #fbfbfb !important; }
  .black-background {
    background-color: #0a0a0a !important; }
  .black-background-hover:hover {
    background-color: #0a0a0a !important; }
  .black-background-children * {
    background-color: #0a0a0a; }
  .black-text {
    color: #0a0a0a !important; }
    .black-text :before, .black-text :after {
      border-color: #0a0a0a !important; }
  .black-text-children * {
    color: #0a0a0a; }
    .black-text-children :before, .black-text-children :after {
      border-color: #0a0a0a !important; }
  .black-text-hover:hover {
    color: #0a0a0a !important; }
    .black-text-hover:hover :before, .black-text-hover:hover :after {
      border-color: #0a0a0a !important; }
  hr.black {
    border-top: #0a0a0a !important; }

.mce-content-body .white-text {
  background: #6f6f6f; }
